@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Your Custom CSS Here */

.prose img {
  border-radius: 30px;
}

#sun {
  transform: translate3d(0, 0px, 0);
}

#moon {
  transform: translate3d(0, 0px, 0);
}

#darkToggle:hover #sun {
  transform: translate3d(0, 10px, 0);
}

#darkToggle:hover #moon {
  transform: translate3d(0, 10px, 0);
}

html.dark #darkToggle:hover .horizon {
  border-color: #718096 !important;
}

.horizon .setting {
  animation: 1s ease 0s 1 setting;
}

.horizon .rising {
  animation: 1s ease 0s 1 rising;
}

@keyframes setting {
  0% {
    transform: translate3d(0, 10px, 0)
  }

  40% {
    transform: translate3d(0, -2px, 0)
  }

  to {
    transform: translate3d(0, 30px, 0)
  }
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0)
  }

  40% {
    opacity: 1;
    transform: translate3d(0, -2px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 10, 0)
  }
}

/* --------------Gothic Font CSS -------------- */

@font-face {
  font-family: 'Mirage';
  src: url('/fonts/Mirage.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clock';
  src: url('/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* CSS FOR CHATBOT */

#chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

/* Chatbot Container (Hidden by Default) */
#chatbot-container {
  display: none; /* Hidden initially */
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Close Button Style */
#close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}