@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Your Custom CSS Here */

.prose img {
  border-radius: 30px;
}

#sun {
  transform: translate3d(0, 0px, 0);
}

#moon {
  transform: translate3d(0, 0px, 0);
}

#darkToggle:hover #sun {
  transform: translate3d(0, 10px, 0);
}

#darkToggle:hover #moon {
  transform: translate3d(0, 10px, 0);
}

html.dark #darkToggle:hover .horizon {
  border-color: #718096 !important;
}

.horizon .setting {
  animation: 1s ease 0s 1 setting;
}

.horizon .rising {
  animation: 1s ease 0s 1 rising;
}

@keyframes setting {
  0% {
    transform: translate3d(0, 10px, 0)
  }

  40% {
    transform: translate3d(0, -2px, 0)
  }

  to {
    transform: translate3d(0, 30px, 0)
  }
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0)
  }

  40% {
    opacity: 1;
    transform: translate3d(0, -2px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 10, 0)
  }
}

/* --------------Gothic Font CSS -------------- */

@font-face {
  font-family: 'Mirage';
  src: url('/fonts/Mirage.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clock';
  src: url('/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Container for spacing between eyes */
.eyes-container {
  display: flex;
  gap: 15px; /* Adjust the spacing between the eyes */
  }
  
  /* Eye and Pupil Styling */
  .eye {
  width: 40px; /* Smaller eye size */
  height: 40px;
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blink 5s infinite;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  }
  
  .pupil {
  width: 12px; /* Adjusted pupil size */
  height: 12px;
  background-color: #333; /* Darker pupil for better contrast */
  border-radius: 50%;
  position: absolute;
  transition: transform 0.08s ease; /* Smoother transition for natural movement */
  }
  
  
/* custom cursor */

html, body {
  background-color: #1D1E22;
  cursor: none; /* Hide the default cursor */
  }

  .custom-cursor {
      width: 32px; /* Adjust to the size of your GIF */
      height: 32px;
      background-image: url('/assets/images/cursors/cigar.gif');
      background-size: contain;
      background-repeat: no-repeat;
      position: fixed;
      pointer-events: none; /* Prevent cursor from blocking interactions */
      transform: translate(-50%, -50%);
      z-index: 1000;
  }