<div id="chatbot-icon" onclick="toggleChatbot()">
    💬 <!-- This emoji is a placeholder; you can replace it with an icon of your choice -->
</div>

<!-- Chatbot Iframe (Initially Hidden) -->
<div id="chatbot-container">
    <iframe
        src="https://www.chatbase.co/chatbot-iframe/6e5veCsMyCYPGo1BmKmt-"
        width="100%"
        style="height: 100%; border: none;"
        frameborder="0"
    ></iframe>
    <button id="close-btn" onclick="toggleChatbot()">✖</button>
</div>