<div id="chatbot-container">
  <div id="chatbot-messages"></div>
  <input id="chatbot-input" type="text" placeholder="Ask me anything!" />
  <button id="chatbot-send">Send</button>
</div>
<style>
  /* Add basic styling here */
</style>
