<div class="timeline">

    <div class="container left-container">
        <img src="/assets/images/timeline/google.png">
      <div class="text-box">
        <h2>Google</h2>
        <small>2018 - 2019</small>
        <p>
          I had the opportunity to work at Google, where I contributed to
          innovative projects, enhancing user experiences through cutting-edge
          technology and collaboration.
        </p>
        <span class="left-container-arrow"> </span>
      </div>
    </div>
    <div class="container right-container">
        <img src="/assets/images/timeline/amazon.png">
        <div class="text-box">
          <h2>Amazon</h2>
          <small>2019 - 2020</small>
          <p>
            I had the opportunity to work at Google, where I contributed to
            innovative projects, enhancing user experiences through cutting-edge
            technology and collaboration.
          </p>
          <span class="right-container-arrow"> </span>
        </div>
      </div>
      <div class="container left-container">
        <img src="/assets/images/timeline/tesla.png">
        <div class="text-box">
          <h2>Tesla</h2>
          <small>2020 - 2021</small>
          <p>
            I had the opportunity to work at Google, where I contributed to
            innovative projects, enhancing user experiences through cutting-edge
            technology and collaboration.
          </p>
          <span class="left-container-arrow"> </span>
        </div>
      </div>
      <div class="container right-container">
        <img src="/assets/images/timeline/toyota.png">
        <div class="text-box">
          <h2>Toyota Inc.</h2>
          <small>2021 - 2022</small>
          <p>
            I had the opportunity to work at Google, where I contributed to
            innovative projects, enhancing user experiences through cutting-edge
            technology and collaboration.
          </p>
          <span class="right-container-arrow"> </span>
        </div>
      </div>
  </div>